<h2 class="text-center">People</h2>
<ul class="button-group even-6 text-center">
  <li><a href="#" class="button">Everyone</a></li>
  <li><a href="#" class="button">Friends</a></li>
  <li><a href="#" class="button">Requests</a></li>
  <li><a href="#" class="button">Pending</a></li>
</ul>

<div class="container text-center">
	<ul class="small-block-grid-4">
		<%= render @users %>
	</ul>
</div>