.container {
	margin: 20px auto 0px auto;
	width: 90%;

	& .form-wrap{
		width: 50%;	
		margin: 0px auto;
		
		& .form-actions {
			text-align: center;
		}
	}
}

nav.top-bar{
}

.alert-box{
	opacity: 0.9;
}

.profile-info {
	background-color: #EEE;
	padding: 50px 20px;
}
